.onePost-block {
    border: 10px dashed green;
    margin-top: 20px;
    background: orange;
    margin-bottom: 30px;
}
.onePost-block h3 {
    font-size: 30px;
    margin-left: 30px;
}
.onePost-block p {
    color: gray;
    font-size: 18px;
    margin-left: 30px;
}
.onePost-block h4 {
    margin-left: 30px;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}
.add-comment {
    margin-bottom: 50px;
    background: orange;
    padding: 20px 20px;
    border: 5px dashed blue;
}
.add-comment h5 {
    margin-top: 20px;
    font-size: 23px;
}
.add-comment input {
    font-size: 18px;
    padding: 5px;
    margin-left: 15%;
}
.add-comment div {
    margin: 20px 0;
}
.add-comment .comment {
    margin-left: 12%;
}
.add-comment button {
    font-size: 20px;
    margin-left: 27%;
    background: white;
    border: 2px dashed white;
    cursor: pointer;
    padding: 3px 10px;
}
.comments {
    margin: 40px 0;
    background: orange;
    padding: 10px;
    border: 5px dashed red;
}
.comments p {
    margin-top: 20px;
    font-size: 30px;
}
.comment-type {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}
.comment-type span {
    font-size: 20px;
    margin-right: 20px;
}